body {
  background-color: #dddddd;
}

.container {
  max-width:1200px;
  background-color: #ffffff;
}

.state_active {
  color: blue;
}

.state_description {
  color: blue;
  transition: all 3s;
}

.ms-iol {
  margin-left:13rem;
}

.ms-as {
  margin-left:13rem;
}